.github-section {
    min-height: 100vh;
    padding: 80px 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.github-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.github-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    align-items: center;
}

.github-container img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease;
}

.contrib-graph {
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    margin-top: 5px;
    grid-column: 1 / -1;
    max-height: 300px;        
    object-fit: cover; 
}