.skill-section {
    min-height: auto;
    padding: 50px 10%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill-section h2 {
    margin-bottom: 50px;
    font-size: 3rem;
}

.skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cards {
    width: 250px;
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.15);
    border-radius: 15px;
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.cards-class {
    width: 300px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 15px rgba(139, 92, 246, 0.15);
    border-radius: 15px;
    padding: 20px;
}

.item {
    text-align: center;
}

.item i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.item p {
    color: white;
    margin-top: 10px;
    font-size: 1rem;
}

.cards ul {
    line-height: 2;
    margin-top: 30px;
}

.cards,
.cards-class {
    transition: all 0.3s ease;
}

.cards:hover,
.cards-class:hover {
    transform: translateY(-12px) scale(1.04);
    box-shadow: 0 15px 20px rgb(196, 181, 253);
    cursor: pointer;
}