.footer {

    margin:0 10%;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.15);
    color:rgba(255,255,255,0.7);
    font-size:0.9rem;

}

@media(max-width:900px){

.footer {

    margin:0 6%;
    padding:20px;

}

}


@media(max-width:600px){

.footer {

    margin:0 5%;

    flex-direction:column;

    text-align:center;

    gap:10px;

    padding:20px 10px;

}

}